@media screen and (max-width: 992px) {
  body.page {
    .event__description {
      flex: 2;
    }
  }
}

@media screen and (max-width: 768px) {
  body.page {
    font-size: 0.9rem;
    padding: 0;

    main.container {
      grid-gap: 0.4rem;

      article.event {
        flex-direction: column;

        .event__description,
        .event__characteristics {
          flex: initial;
        }

        .event__description {
          margin: 0;

          .event__title {
            margin: 0;
          }
        }

        .event__characteristics {
          align-items: center;
          display: flex;
          justify-content: space-around;

          .event__participants-title {
            margin: 0 0 1rem;
          }

          .event__participants-list {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body.page {
    font-size: 0.8rem;
    height: auto;

    main.container {
      display: block;

      .filters-wrapper {
        margin-bottom: 1rem;
      }

      article.event {
        flex-direction: column;

        &:last-of-type {
          margin-bottom: 0;
        }

        .event__description {
          margin: 0;
        }

        .event__characteristics {
          .event__characteristic {
            text-align: left;
          }

          .event__participants-title {
            margin: 0;
          }
        }
      }
    }
  }

  .modal {
    &__dialog {
      font-size: 0.8rem;
      padding: 10px;
      width: 90%;
    }
  }
}
